In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [3]:
 # Load the dataset
file_path = "letter-recognition.csv"
data = pd.read_csv(file_path)

In [4]:
data.describe()

,2,8,3,5,1,8.1,13,0,6,6.1,10,8.2,0.1,8.3,0.2,8.4
count,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.00000
mean,4.023651,7.035452,5.121956,5.372469,3.505975,6.897545,7.500175,4.628831,5.178609,8.282164,6.453823,7.928996,3.046252,8.338867,3.691935,7.80119
std,1.913206,3.304631,2.014568,2.261445,2.190441,2.026071,2.325087,2.699837,2.380875,2.488485,2.631016,2.080671,2.332500,1.546759,2.567004,1.61751
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.000000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.000000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.000000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.000000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.000000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.000000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       19999 non-null  object
 1   2       19999 non-null  int64
 2   8       19999 non-null  int64
 3   3       19999 non-null  int64
 4   5       19999 non-null  int64
 5   1       19999 non-null  int64
 6   8.1     19999 non-null  int64
 7   13      19999 non-null  int64
 8   0       19999 non-null  int64
 9   6       19999 non-null  int64
 10  6.1     19999 non-null  int64
 11  10      19999 non-null  int64
 12  8.2     19999 non-null  int64
 13  0.1     19999 non-null  int64
 14  8.3     19999 non-null  int64
 15  0.2     19999 non-null  int64
 16  8.4     19999 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [7]:
data.isnull().sum()

T      0
2      0
8      0
3      0
5      0
1      0
8.1    0
13     0
0      0
6      0
6.1    0
10     0
8.2    0
0.1    0
8.3    0
0.2    0
8.4    0
dtype: int64

In [8]:
# Check the column names
print("Column Names:", data.columns)

Column Names: Index(['T', '2', '8', '3', '5', '1', '8.1', '13', '0', '6', '6.1', '10', '8.2',
       '0.1', '8.3', '0.2', '8.4'],
      dtype='object')

In [9]:
# Preprocess the data
X = data.drop(columns=['T'])  # Features
y = data['T']  # Target

In [10]:
# Check the column names
print("Column Names:", data.columns)

Column Names: Index(['T', '2', '8', '3', '5', '1', '8.1', '13', '0', '6', '6.1', '10', '8.2',
       '0.1', '8.3', '0.2', '8.4'],
      dtype='object')

In [11]:
# Encode target labels
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [12]:
 # Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, 
test_size=0.2, random_state=42)

In [14]:
 # Build the model
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(len(label_encoder.classes_), activation='softmax')  # Output layer with number of classes
    ])

c:\Users\Yashkumar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
 # Compile the model
model.compile(optimizer='adam', 
loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [16]:
# Train the model
model.fit(X_train, y_train, epochs=20, batch_size=32, 
validation_split=0.2)

Epoch 1/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.2737 - loss: 2.7555 - val_accuracy: 0.6709 - val_loss: 1.2045
Epoch 2/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6996 - loss: 1.0914 - val_accuracy: 0.7247 - val_loss: 0.9508
Epoch 3/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7530 - loss: 0.8670 - val_accuracy: 0.7656 - val_loss: 0.8134
Epoch 4/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7901 - loss: 0.7477 - val_accuracy: 0.7878 - val_loss: 0.7361
Epoch 5/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8035 - loss: 0.6860 - val_accuracy: 0.7950 - val_loss: 0.6638
Epoch 6/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8223 - loss: 0.6058 - val_accuracy: 0.8153 - val_loss: 0.6123
Epoch 7/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8379 - loss: 0.5425 - val_accuracy: 0.8313 - val_loss: 0.5461
Epoch 8/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8494 - loss: 0.4969 - val_accuracy: 0.8466 - val_loss: 0.5234
Epoch 9/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8595 - loss: 0.4681 - val_accuracy: 0.8550 - val_loss: 0.4753
Epoch 10/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8707 - loss: 0.4312 - val_accuracy: 0.8528 - val_loss: 0.4672
Epoch 11/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8813 - loss: 0.3981 - val_accuracy: 0.8644 - val_loss: 0.4370
Epoch 12/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8783 - loss: 0.3905 - val_accuracy: 0.8716 - val_loss: 0.4189
Epoch 13/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8941 - loss: 0.3450 - val_accuracy: 0.8781 - val_loss: 0.3908
Epoch 14/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8974 - loss: 0.3401 - val_accuracy: 0.8759 - val_loss: 0.3915
Epoch 15/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8981 - loss: 0.3270 - val_accuracy: 0.8834 - val_loss: 0.3625
Epoch 16/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9033 - loss: 0.3058 - val_accuracy: 0.8838 - val_loss: 0.3524
Epoch 17/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9047 - loss: 0.2990 - val_accuracy: 0.8938 - val_loss: 0.3444
Epoch 18/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9120 - loss: 0.2817 - val_accuracy: 0.8944 - val_loss: 0.3319
Epoch 19/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9165 - loss: 0.2658 - val_accuracy: 0.8997 - val_loss: 0.3300
Epoch 20/20
400/400 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9181 - loss: 0.2613 - val_accuracy: 0.9034 - val_loss: 0.3125

In [17]:
 # Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print("Test Accuracy:", test_accuracy)

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8907 - loss: 0.3422
Test Accuracy: 0.8974999785423279

In [18]:
# Make predictions
predictions = model.predict(X_test)

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [20]:
 # Decode the predicted labels
predicted_labels = label_encoder.inverse_transform(np.argmax(predictions, axis=1))

In [21]:
 # Decode the actual labels
actual_labels = label_encoder.inverse_transform(y_test)

In [22]:
 # Print some predicted and actual results
print("Some Predicted and Actual Results:")
for i in range(10):
    print("Predicted:", predicted_labels[i], "Actual:", 
actual_labels[i])

Some Predicted and Actual Results:
Predicted: X Actual: X
Predicted: R Actual: R
Predicted: P Actual: P
Predicted: I Actual: I
Predicted: I Actual: I
Predicted: A Actual: Z
Predicted: C Actual: C
Predicted: Y Actual: Y
Predicted: G Actual: G
Predicted: X Actual: X